@font-face {
  font-family: 'Metropolis';
  src: url('fonts/metropolis-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* === VARIABLES GLOBALES === */
:root {
    --color-blanco: white;
    --color-fondo: #fefdf9;
    --color-negro-oliva: #333;
    --color-casi-negro: #222;
    --color-secundario: #555;
    --color-gris-clarito: #777;
    --color-gris-mas-clarito: #ccc;
    --color-gris-muy-clarito: #ddd;
    --color-gris-muy-muy-clarito: #eee;
    --color-azul-francia: #0056b3;
    --color-rojo-ofertas: #ff4444;
}

/* === ESTILOS GENERALES === */
body {
    font-family: 'Metropolis', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-fondo);
    user-select: none;
}

/* === HEADER === */
.header {
    text-align: center;
    padding: 0;
    background-color: var(--color-fondo);
    border-bottom: 1px solid var(--color-gris-muy-clarito);
}

/* === LOGO === */
.logo {
    width: 165px;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}

/* === FILTRO DE BÚSQUEDA === */
.filter-container {
    padding: 10px 10px 10px 10px;
    background: var(--color-fondo);
    border-bottom: 1px solid var(--color-gris-muy-clarito);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.filter-input-wrapper {
    position: relative;
    width: 100%;
}

.filter-input-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espacio a la derecha para la cruz */
    font-size: 1em;
    border: 1px solid var(--color-gris-mas-clarito);
    border-radius: 5px;
}

#clear-filter {
    position: absolute;
    padding: 15px 10px 15px 20px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--color-gris-clarito);
    cursor: pointer;
    display: none;
    user-select: none;
}

/* === TAGS === */
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    padding: 12px 0px 0 0px;
}

.tag {
    background-color: var(--color-gris-muy-muy-clarito);
    color: var(--color-negro-oliva);
    font-size: 0.85em;
    border: 1px solid var(--color-gris-mas-clarito);
    border-radius: 15px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.tag:hover {
    background-color: var(--color-gris-muy-clarito);
}

/* === PRODUCTOS === */
.productos-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

.producto-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--color-gris-muy-clarito);
    background: var(--color-fondo);
}

.producto-thumbnail {
    margin-right: 15px;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
}

.producto-thumbnail img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    display: block;
}

.producto-contenido {
    position: relative;
    max-height: 1000px;
}

.oferta-label {
    display: inline-block;
    background-color: var(--color-rojo-ofertas);
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 0.7em;
    padding: 2.5px 4px;
    border-radius: 2px;
    margin-bottom: 5px;
    opacity: 85%;
}

.producto-titulo {
    margin: 0;
    margin-bottom: 0px;
    margin-top: 2px;
}

.logo-sin-tacc-inline {
    width: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    opacity: 90%;
}

.logo-organico-inline {
    width: 17px;
    margin-left: 3px;
    margin-bottom: 4.5px;
    vertical-align: middle;
}

.producto-descripcion {
    font-size: 0.9em;
    color: var(--color-secundario);
    margin-right: 2px;
    line-height: 1.5;
    margin-top: 2px;
    margin-bottom: 3px;
}

.producto-precio {
    font-size: 1.3em;
    color: var(--color-casi-negro);
    padding-top: 24px;
    margin-right: 2px;
    margin-top: 0px;
    line-height: 0;
}

.producto-unidad {
    font-size: 0.65em;
    margin-left: 5px;
    color: var(--color-gris-clarito);
}

.producto-tags {
    display: none;
}

/* === BOTÓN FLOTANTE === */
.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    background-color: var(--color-blanco);
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    z-index: 1000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.fab:hover {
    background-color: var(--color-azul-francia);
    transform: scale(1.1);
}

.fab img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
